/* GENERAL STYLE */

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

.panel-heading {
    max-height: 32px;
    overflow: hidden;
}

.row
{
    margin-left:0px !important;
    margin-right:0px !important;
}


/* END GENERAL STYLE */


/**********************************************************************************************************************/


/* INDEX STYLE */

.page
{
    background-color:#191919;
}

.imgEvent
{
    padding:1%;
    margin-top:2%;
    width: 95%;
    margin: 0 auto;
}

.imgHeader
{
    background-image: url(/img/header.jpg);
    width: 100%;
    min-height:190px;
    margin-bottom:2%;
}

.filter
{
    padding-top: 12px;
    padding-bottom: 14px;
}

/* END INDEX STYLE */

/* LOGIN STYLE*/

.containerLogin
{
    padding-bottom:10%;
}

.checkbox
{
    text-align: center;
}
/* END LOGIN STYLE */

/* EVENT DETAIL STYLE */

.map
{
    border: 1px solid #C0C0C0;
    margin-left:2%;
}

.btnFavorite
{
    float:right;
    margin-right:1%;
    padding:1%;
    BORDER: 1PX SOLID #C0C0C0;
}

.labelEventDescription
{
    border-bottom:1px solid #C0C0C0;
    font-size:18px;
}

.panelEventDetailLeft
{
    margin-top:10%;
    float:left;
    width:50%;
    text-align:center;
}

.panelEventDetailRight
{
    border-left: 1px solid #c0c0c0;
    padding-left: 0%;
    text-align:center;
    width:50%;
    float:right;
}

.panelEventDetailBottom
{
    text-align:center;
    border-top:1px solid #C0C0C0;
}
/* END EVENT DETAIL STYLE */

/* COLOR EVENT STYLE */

.color1
{
    background-color:#fce4ec;
}

.color2
{
    background-color: #c5cae9;
}

.color3
{
    background-color: #b39ddb;
}

.color4
{
    background-color: #a5d6a7;
}

.color5
{
    background-color: #fff59d;
}

.color6
{
    background-color:#ffab91;
}

.color7
{
    background-color:#90a4ae;
}

.color8
{
    background-color:#a1887f;
}

.color9
{
    background-color:#ccff90;
}
/* END COLOR EVENT STYLE */

/* FOOTER STYLE */

    .footer
    {
        background-color: #0c0c0c;
        padding-top: 1%;
        border-top: 1px solid #262626;
    }

    .footerText
    {
        padding-bottom: 1.5%;
        text-align: center;
        margin-bottom:0px;
    }

/* END FOOTER STYLE */

/* NOT FOUND STYLE */

    .warningTitle
    {
        margin-top: 5px;;
        text-align: center;
    }

/* END NOT FOUND STYLE */

/* DASHBOARD STYLE */

.titleDashboard
{
    border-bottom:1px solid #757575;
}

.separator
{
    border-bottom:1px solid #757575;
    width:100%;
}

/* END DASHBOARD STYLE */


/* MATERIAL DESIGN FORMS STYLE*/

.group 			  {
    position:relative;
    margin-bottom:45px;
    margin-left: 30% !important;
}
.input 				{
    background-color:#F0F0F0;
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
}
.input:focus 		{ outline:none; }


.labelMaterial 				 {
    color:#999;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

.input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#333;
}


.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#333;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%;
}


.input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}

.highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}

.input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}

@media (max-width:768px)
{
    .input
    {
        width:160px;

    }
    .group
    {
        margin-left:20% !important;
    }
    .bar
    {
        width:160px;
    }
}

/* END MATERIAL DESIGN FORMS STYLE*/